body {
    font-family: sans-serif;
}

header{
    background-color: aquamarine;
    padding: 5px;
    border: 2px solid black;
}

header a{
    text-decoration: none;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 3px;
}

h1{
    text-align: center;
    font-size: 62px;
    color: darkcyan;
}

footer{
    background-color: aquamarine;
    padding: 5px;
}

footer p{
    background-color: antiquewhite;
}

.product{
    background-color: aquamarine;
    padding: 3px;
    border-radius: 5px;
}
